layout/nav.html

<nav class="navbar navbar-primary">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-primary" aria-expanded="false"><span class="sr-only">Toggle navigation</span>
        <spna class="icon-bar"></spna>
        <spna class="icon-bar"></spna>
        <spna class="icon-bar"></spna>
        <spna class="icon-bar"></spna>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="nav-primary">
      <ul class="nav navbar-nav">
        <li><a class="active" href="index.html">หน้าแรก</a></li>
        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
             เกี่ยกวับเรา <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="tour-all.html">ประวัติ และความเป็นมา</a></li>
            <li><a href="tour-small.html">วิสัยทัศน์ และพัธกิจ</a></li>
            <li><a href="tour-custom.html">คณะทำงาน</a></li>
          </ul>
        </li>
        <li><a href="blog.html">บทความ</a></li>
        <li><a href="single-article.html">รายละเอียดบทความ</a></li>
        <li><a href="news.html">ข่าวสาร และกิจกรรม</a></li>
        <li><a href="single-news.html">รายละเอียดข่าวสาร และกิจกรรม</a></li>
        <li><a href="contact.html">ติดต่อเรา</a></li>
      </ul>
      <ul class="nav nav-bar navbar-right search">
        <li><a href="#" data-toggle="modal" data-target="#search-content"><i class="fa fa-search" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</nav>

layout/nav.jade
nav.navbar.navbar-primary.navbar-default
	.container
		div.navbar-header
			button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#nav-primary" aria-expanded="false")
				span.sr-only Toggle navigation
				spna.icon-bar
				spna.icon-bar
				spna.icon-bar
				spna.icon-bar
			a.navbar-brand(href="index.html") Brand
		div.collapse.navbar-collapse(id="nav-primary")
			ul.nav.navbar-nav.navbar-left
				li
					a.active(href="index.html") หน้าแรก
				li.dropdown
					a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") 
						| เกี่ยวกับเรา 
						span.caret
					ul.dropdown-menu
						li
							a(href="tour-all.html") ประวัติ และความเป็นมา
						li
							a(href="tour-small.html") วิสัยทัศน์ และพัธกิจ
						li
							a(href="tour-custom.html") คณะทำงาน
				li
					a(href="blog.html") บทความ
				li
					a(href="single-article.html") รายละเอียดบทความ
				li
					a(href="news.html") ข่าวสาร และกิจกรรม
				li
					a(href="single-news.html") รายละเอียดข่าวสาร และกิจกรรม

				li
					a(href="contact.html") ติดต่อเรา
			ul.nav.nav-bar.navbar-right.search
				li
					a(href="#" data-toggle="modal" data-target="#search-content")
						i.fa.fa-search(aria-hidden="true")
						
